<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section
      name="locations"
      type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section
      name="types"
      type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <locations>
    <add key="cannonhill" value="Cannon Hill" />
    <add key="ubir" value="Ubir" />
  </locations>
  <types>
    <add key="animals" value="Animals" />
    <add key="parragrass" value="Parragrass" />
  </types>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="localCache" value="C:\localCache"/>
    <add key="storageAccountName" value=""/>
    <add key="key" value=""/>
  </appSettings>
</configuration>