<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section
      name="locations"
      type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <locations>
    <add key="cannon-hill" value="Cannon Hill" />
    <add key="jabire-dreaming" value="Jabire Dreaming" />
    <add key="ubir" value="Ubir" />
  </locations>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="ApplicationId" value=""/>
    <add key="ClientScopes" value="user.read https://storage.azure.com/user_impersonation"/>
    <add key="localCache" value="C:\localCache"/>
    <add key="storageAccountName" value="hhaiimgupdev"/>
    <add key="containerName" value="images"/>
    <add key="key" value=""/>
    <add key="RetryLimit" value="3"/>
    <add key="RetrySeconds" value="30"/>
  </appSettings>
</configuration>